// $scheme-name: 'white', 'dark';
// $scheme-icons: (('user', 'user', 'svg'));

// @include themePath('dark', $scheme-icons);
// @include theme('white', $scheme-icons);

.icon {
  &::before {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
  }

  &-flex {
    display: flex;
    align-items: center;
    width: max-content;

    &-column {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  &-user {
    @include before-img(block, 35px, 25px, r) {
      background-image: url(../img/icons/user.svg);
    }
  }

  &-email {
    @include before-img(block, 35px, 25px, r) {
      background-image: url(../img/icons/email.svg);
    }
  }
}
