extends layouts/index

block head
  title Centurion 404
  meta(content="Centurion page not exist" name="description")

block header
  include common/header

block content
  .wrapper
    .error-page
      span.error-page-label 404: Page Not Found
      h1.error-page-title This page could not be found!
      p.error-page-text 
        | We are sorry. But the page you are looking for is not available.
        | Perhaps you can try a new search.
      a.busbtn.error-page-btn(rel="noopener", href="/") BACK TO HOMEPAGE

block footer
  include common/footer